<div class="rules container">
  <h1 class="title">The rules</h1>

  <div class="card bg-glass p-4">
    <div>
      <h2 id="goal">The Goal of Tetris</h2>
      <p class="lead">
        The goal of Tetris is to score the most points by burning rows.
        The game ends when a block touches the top of your screen,
        so <strong>make sure you survive to rack up more points!</strong>
      </p>

      <br>

      <h2 id="points">Points</h2>
      <p>
        Points are gained by clearing horizontal rows from your grid.
        To clear a row, you need to make sure there is no empty space left in the row.
        Clearing a row is called <em>burning</em>. You can <em>burn</em> 1, 2, 3 or 4 rows simultaneously.
        Burning 4 rows at once is called <em>tetris</em>.
        The more lines you burn at once, the more points you get.
      </p>

      <br>

      <h2 id="blocks">The Blocks</h2>
      <p>
        Blocks come in 7 different shapes.
        The I-block, O-block, S-block, Z-block, J-block, T-block and L-block.
        All blocks can be moved left and right,
        and can be rotated clockwise and counter-clockwise to fit them in a line.
      </p>

      <br>

      <h2 id="controls">Controls</h2>
      <p>
        Use the left and right arrows on the keyboard to move the block.
        Z rotates the button counter-clockwise. X rotates the button clockwise.
        The down arrow makes your block drop faster.
      </p>

      <br>

      <h2 id="winner">The Winner</h2>
      <p>
        The winner is the player that has the most points when both players are game over.
      </p>
      <p class="note note-light">
        If you have less points than your opponent and they game over,
        the game <strong>will</strong> continue until you have either racked up more points than they or you are game
        over
        as well.
      </p>
    </div>
    <div class="image-div">
      <img src="assets/images/tetris-rules.png" alt="" class="img-fluid">
    </div>
  </div>

</div>
